
    <div id="featured" class="featured-items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>Destaques</h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                            <div class="featured-item">
                                <div class="ImgPro">
                                    <img src="~/images/gamemax-infinity.jpg" asp-append-version="true" />
                                </div>
                                <h4>Game-Max Infinity</h4>
                                <h6>R$ 725,00</h6>
                                <button type="button" class="btn btn-outline-primary">Comprar</button>
                                <a href="#single-product.html">
                                    Detalhes
                                </a>
                            </div>

                            <div class="featured-item">
                                <div class="ImgPro">
                                    <img src="~/images/AsusRogTufGamers.jpg" asp-append-version="true" />
                                </div>
                                <h4>Asus Rog TUF b5500</h4>
                                <h6>R$ 1800,00</h6>
                                <button type="button" class="btn btn-outline-primary">Comprar</button>
                                <a href="#single-product.html">
                                    Detalhes
                                </a>
                            </div>

                            <div class="featured-item">
                                <div class="ImgPro">
                                    <img src="~/images/Ryzen7-5700x.jpg" asp-append-version="true" />
                                </div>
                                <h4>Ryzen 7 5700x eight-core</h4>
                                <h6>R$ 1880,00</h6>
                                <button type="button" class="btn btn-outline-primary">Comprar</button>
                                <a href="#single-product.html">
                                    Detalhes
                                </a>
                            </div>

                            <div class="featured-item">
                                <div class="ImgPro">
                                    <img src="~/images/water-cooler-superframe.jpg" asp-append-version="true" />
                                </div>
                                <h4>Water Cooler Superframe ARGB</h4>
                                <h6>R$ 650,00</h6>
                                <button type="button" class="btn btn-outline-primary">Comprar</button>
                                <a href="#single-product.html">
                                    Detalhes
                                </a>
                            </div>
                              <div class="featured-item">
                                <div class="ImgPro">
                                    <img src="~/images/RTX2070Sup.jpg" asp-append-version="true" />
                                </div>
                                <h4>Geforce RTX2070 super 8GB</h4>
                                <h6>R$ 3500,00</h6>
                                <button type="button" class="btn btn-outline-primary">Comprar</button>
                                <a href="#single-product.html">
                                    Detalhes
                                </a>
                            </div>
                    </div>       
                </div>
            </div>
        </div>
    </div>